.wow {
    opacity: 0;
}

.mobile {
    width: 100%;
}

.mobile-inner {
    margin-right: auto;
    margin-left: auto;
    background-color: ;
    position: relative;
}

.mobile-inner img {
}

.mobile-inner p {
    color: #676767;
    line-height: 25px;
    font-size: 16px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0px;
}

.mobile-inner-header {
    width: 100%;
    height: 50px;
    position: relative;
    top: 0px;
    z-index: 666;
    left: 0px;
}

.mobile-inner-header-icon {
    color: #ffffff;
    height: 50px;
    font-size: 25px;
    text-align: center;
    float: right;
    width: 50px;
    position: relative;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.mobile-inner-header-icon:hover {
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}

.mobile-inner-header-icon span {
    position: absolute;
    left: calc((100% - 25px) / 2);
    top: calc((100% - 1px) / 2);
    width: 25px;
    height: 1px;
    background-color: #050505;
}

.mobile-inner-header-icon span:nth-child(1) {
    transform: translateY(4px) rotate(0deg);
}

.mobile-inner-header-icon span:nth-child(2) {
    transform: translateY(-4px) rotate(0deg);
}

.mobile-inner-header-icon-click span:nth-child(1) {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: clickfirst;
}

.mobile-inner-header-icon-click span:nth-child(2) {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: clicksecond;
}

@keyframes clickfirst {
    0% {
        transform: translateY(4px) rotate(0deg);
    }

    100% {
        transform: translateY(0) rotate(45deg);
    }
}

@keyframes clicksecond {
    0% {
        transform: translateY(-4px) rotate(0deg);
    }

    100% {
        transform: translateY(0) rotate(-45deg);
    }
}

.mobile-inner-header-icon-out span:nth-child(1) {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: outfirst;
}

.mobile-inner-header-icon-out span:nth-child(2) {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: outsecond;
}

@keyframes outfirst {
    0% {
        transform: translateY(0) rotate(-45deg);
    }

    100% {
        transform: translateY(-4px) rotate(0deg);
    }
}

@keyframes outsecond {
    0% {
        transform: translateY(0) rotate(45deg);
    }

    100% {
        transform: translateY(4px) rotate(0deg);
    }
}

.mobile-inner-nav {
    overflow: auto;
    height: 100vh;
    padding-top: 50px;
}

.mobile-inner-nav {
    background: linear-gradient(270deg,#0866b1c9,#076cc3);
    width: 100%;
    position: absolute;
    top: 0;
    padding-bottom: 0%;
    display: none;
    z-index: 444;
}

.mobile-inner-nav a {
    border-bottom: solid 1px rgba(255,255,255,0.3);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    color: #fff;
    transition: all 0.5s;
}

.mobile-inner-nav dl {
    display: none;
}

.mobile-inner-nav dl dd {
    line-height: 33px;
    text-decoration: none;
    text-indent: 3em;
    font-size: 16px;
    color: #FFFFFF;
    border-bottom: solid 1px rgba(255,255,255,0.3);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-weight: 300;
    font-size: 14px;
}

.mobile-inner-nav li {
    border-bottom: solid 1px rgba(255,255,255,0.3);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    line-height: 53px;
    text-indent: 20px;
}

.mobile-inner-nav h2.h2tit {
    line-height: 50px;
    text-decoration: none;
    text-indent: 2em;
    font-size: 16px;
    color: #FFFFFF;
    /* border-bottom:solid 1px rgba(255,255,255,0.3);*/
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-weight: 300;
}

.mobile-inner-nav h2.h2tit a {
    color: #FFFFFF;
}

.mobile-inner-nav a {
    border-bottom: none;
}

.mobile-inner-nav li {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: returnToNormal;
    animation-name: returnToNormal;
}

@-webkit-keyframes resize {
    from,60%,75%,90%,to {
        -webkit-animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
        animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale(5,5);
        transform: scale(5,5);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@keyframes resize {
    from,60%,75%,90%,to {
        -webkit-animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
        animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale(5,5);
        transform: scale(5,5);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@-webkit-keyframes returnToNormal {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes returnToNormal {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.mobile-inner-nav li:last-child h2.h2tit {
    border-bottom: none;
}

.mobile-inner-nav li .h3tit {
    height: 50px;
    position: relative;
    background: url(../images/51_icon_search@2x.png) no-repeat 30px center;
    background-size: 17px;
}

.mobile-inner-nav li .words {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    text-indent: 60px;
    font-size: 15px;
    color: #fff;
    background: url(../images/search2.png) no-repeat 30px center;
    background-size: 20px;
}

.mobile-inner-nav li:last-child {
    border-bottom: none;
}

.mobile-inner-nav li form {
    display: block;
    width: 100%;
    height: 100%;
}

@charset "utf-8";@charset "UTF-8";.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

.fadeInUp {
    animation-duration: 1.76s;
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0,40px,0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

* {
    font-family: Comic Sans MS;
}

body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr,span {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
}

html,body {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

body {
    font-family: "Microsoft YaHei" ! important;
    color: #000000;
    background: #fff;
    margin: 0 auto;
    padding: 0px;
}

body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
}

input[type="button"],input[type="submit"],input[type="reset"],input[type="text"] {
    -webkit-appearance: none;
}

input[type="button"],input[type="submit"],input[type="reset"] {
    cursor: pointer;
}

input {
    -webkit-appearance: none;
}

input {
    -webkit-appearance: none!important;
    border-radius: 0;
}

button {
    cursor: pointer;
}

textarea {
    -webkit-appearance: none;
}

a {
    text-decoration: none;
    color: #235aa7;
    outline: none;
}

a:active {
    star: expression(this.onFocus=this.blur());
}

img {
    border: 0px;
    vertical-align: middle;
}

li {
    list-style: none;
}

* {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99999;
}

.loadingfa {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 29px;
    color: #1f8adf;
    position: absolute;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    top: 50%;
}

html {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: none;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    -webkit-overflow-scrolling: touch;
    background: #9f7104;
    color: #fff;
    line-height: 1;
}

* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg)
    }

    to {
        -moz-transform: rotate(360deg)
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(0deg)
    }

    to {
        -ms-transform: rotate(360deg)
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(0deg)
    }

    to {
        -o-transform: rotate(360deg)
    }
}

.xuanzhuan {
    animation: 2s linear 0s normal forwards infinite rotate;
    -webkit-animation: 2s linear 0s normal forwards infinite rotate;
    -moz-animation: 2s linear 0s normal forwards infinite rotate;
    -o-animation: 2s linear 0s normal forwards infinite rotate;
}

.xuanzhuan img {
    display: block;
    width: 100%;
}

.pc {
    display: block;
}

.wap {
    display: none;
}

.clearflex:after {
    content: "";
    display: table;
    clear: both;
}

.moveAni {
    animation: move .8s infinite;
    -moz-animation: move .8s infinite;
    -webkit-animation: move .8s infinite;
    -o-animation: move .8s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.46,0.02,0.97,0.36);
    -webkit-animation-timing-function: cubic-bezier(0.46,0.02,0.97,0.36);
}

.tadaAni {
    animation: tada 2s infinite;
}

.pulseAni {
    animation: pulse 1s infinite;
}

.bounceInAni {
    animation: bounceIn 2s infinite;
}

.flashInAni {
    animation: flash 2s infinite;
}

.swingAni {
    animation: swing 2s infinite;
    transform-origin: right top;
}

.rubberBandAni {
    animation: rubberBand 1s infinite;
}

.bounceAni {
    animation: bounce 1s infinite;
}

.tdAni {
    animation: td .4s infinite;
    -moz-animation: td .4s infinite;
    -webkit-animation: td .4s infinite;
    -o-animation: td .4s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.46,0.02,0.97,0.36);
    -webkit-animation-timing-function: cubic-bezier(0.46,0.02,0.97,0.36);
}

.heartbeatAni {
    animation: heartbeat 1.4s infinite;
    -moz-animation: heartbeat 1.4s infinite;
    -webkit-animation: heartbeat 1.4s infinite;
    -o-animation: heartbeat 1.4s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.46,0.02,0.97,0.36);
    -webkit-animation-timing-function: cubic-bezier(0.46,0.02,0.97,0.36);
}

.shing {
    animation: shing 1s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
}

@keyframes shing {
    0% {
        opacity: 1;
    }

    100% {
        opacity: .6;
    }
}

@keyframes move2 {
    0% {
        transform: translate(0%,0px);
    }

    100% {
        transform: translate(0%,10px);
    }
}

.moveAni2 {
    animation: move2 1s infinite;
}

.moveAni {
    animation: move .8s infinite;
    -moz-animation: move .8s infinite;
    -webkit-animation: move .8s infinite;
    -o-animation: move .8s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.46,0.02,0.97,0.36);
    -webkit-animation-timing-function: cubic-bezier(0.46,0.02,0.97,0.36);
}

@keyframes move {
    from {
        -o-transform: translate(0%,0%);
        -webkit-transform: translate(0%,0%);
        -moz-transform: translate(0%,0%);
        -ms-transform: translate(0%,0%);
        transform: translate(0%,0%);
    }

    to {
        -o-transform: translate(0%,30px);
        -webkit-transform: translate(0%,30px);
        -moz-transform: translate(0%,30px);
        -ms-transform: translate(0%,30px);
        transform: translate(0%,30px);
    }
}

@keyframes td {
    from {
        -o-transform: translate(0%,0%);
        -webkit-transform: translate(0%,0%);
        -moz-transform: translate(0%,0%);
        -ms-transform: translate(0%,0%);
        transform: translate(0%,0%);
    }

    to {
        -o-transform: translate(0%,20px);
        -webkit-transform: translate(0%,20px);
        -moz-transform: translate(0%,20px);
        -ms-transform: translate(0%,20px);
        transform: translate(0%,20px);
    }
}

@keyframes heartbeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    14% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    42% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes moveAni2 {
    0% {
        transform: translate(0%,0px);
    }

    100% {
        transform: translate(100vw,0px);
    }
}

.moveAni2 {
    animation: moveAni2 5.5s linear infinite;
}

@keyframes scrollAni1 {
    0% {
        transform: translate(0%,0px) rotate(0);
    }

    100% {
        transform: translate(-100%,0px) rotate(-360deg);
    }
}

.scrollAni1 {
    animation: scrollAni1 1.8s infinite;
    -moz-animation: scrollAni1 1.8s infinite;
    -webkit-animation: scrollAni1 1.8s infinite;
    -o-animation: scrollAni1 1.8s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
}

@keyframes scrollAni2 {
    0% {
        transform: translate(30%,0px) rotate(0);
    }

    100% {
        transform: translate(0%,0px);
    }
}

.scrollAni2 {
    animation: scrollAni2 1.8s infinite;
    -moz-animation: scrollAni2 1.8s infinite;
    -webkit-animation: scrollAni2 1.8s infinite;
    -o-animation: scrollAni2 1.8s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes scrollAni3 {
    0% {
        transform: translate(0%,-20px);
    }

    100% {
        transform: translate(0%,0%);
    }
}

.scrollAni3 {
    animation: scrollAni3 1.8s infinite;
    -moz-animation: scrollAni3 1.8s infinite;
    -webkit-animation: scrollAni3 1.8s infinite;
    -o-animation: scrollAni3 1.8s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes scrollAni4 {
    0% {
        transform: translate(0%,10px);
    }

    100% {
        transform: translate(0%,0%);
    }
}

.scrollAni4 {
    animation: scrollAni4 1.8s infinite;
    -moz-animation: scrollAni4 1.8s infinite;
    -webkit-animation: scrollAni4 1.8s infinite;
    -o-animation: scrollAni4 1.8s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes scrollAni5 {
    0% {
        transform: none;
    }

    100% {
        transform: scale(1.35,1.35);
    }
}

.scrollAni5 {
    animation: scrollAni5 1.8s infinite;
    -moz-animation: scrollAni5 1.8s infinite;
    -webkit-animation: scrollAni5 1.8s infinite;
    -o-animation: scrollAni5 1.8s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes scrollAni6 {
    0% {
        transform: scale(1.05,1.05);
    }

    100% {
        transform: none;
    }
}

.scrollAni6 {
    animation: scrollAni6 1.8s infinite;
    -moz-animation: scrollAni6 1.8s infinite;
    -webkit-animation: scrollAni6 1.8s infinite;
    -o-animation: scrollAni6 1.8s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes bubbleMover3 {
    0% {
        -webkit-transform: translateY(0px) translateX(0) rotate(0);
        transform: translateY(0px) translateX(0) rotate(0);
    }

    30% {
        transform: translateY(5px) translateX(4px) rotate(9deg);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }

    50% {
        transform: translateY(-3px) translateX(1px) rotate(-6deg);
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
    }

    80% {
        transform: translateY(-1px) translateX(-5px) rotate(-2deg);
        -webkit-transform-origin: left top;
        transform-origin: left top;
    }

    100% {
        -webkit-transform: translateY(0px) translateX(0) rotate(0);
        transform: translateY(0px) translateX(0) rotate(0);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }
}

@keyframes bubbleMover2 {
    0% {
        -webkit-transform: translateY(0px) translateX(0) rotate(0);
        transform: translateY(0px) translateX(0) rotate(0);
    }

    30% {
        transform: translateY(5px) translateX(4px) rotate(5deg);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }

    50% {
        transform: translateY(-4px) translateX(2px) rotate(-3deg);
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
    }

    80% {
        transform: translateY(-3px) translateX(-3px) rotate(-3deg);
        -webkit-transform-origin: left top;
        transform-origin: left top;
    }

    100% {
        -webkit-transform: translateY(0px) translateX(0) rotate(0);
        transform: translateY(0px) translateX(0) rotate(0);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }
}

@keyframes bubbleMover {
    0% {
        transform: translateY(0px) translateX(0) rotate(0);
    }

    30% {
        transform: translateY(3px) translateX(5px) rotate(5deg);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }

    50% {
        transform: translateY(5px) translateX(10px) rotate(10deg);
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
    }

    80% {
        transform: translateY(3px) translateX(5px) rotate(4deg);
        -webkit-transform-origin: left top;
        transform-origin: left top;
    }

    100% {
        transform: translateY(0px) translateX(0) rotate(0);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }
}

@keyframes rotateAni {
    0% {
        transform: none;
    }

    100% {
        transform: rotateY(180deg);
    }
}

.rotateAni {
    -webkit-animation: rotateAni linear infinite 2s;
    -moz-animation: rotateAni linear infinite 2s;
    -o-animation: rotateAni linear infinite 2s;
    animation: rotateAni linear infinite 2s;
}

.pfAni1 {
    -webkit-animation: bubbleMover linear infinite 5s;
    -moz-animation: bubbleMover linear infinite 5s;
    -o-animation: bubbleMover linear infinite 5s;
    animation: bubbleMover linear infinite 5s;
}

.pfAni2 {
    -webkit-animation: bubbleMover2 linear infinite 5s;
    -moz-animation: bubbleMover2 linear infinite 5s;
    -o-animation: bubbleMover2 linear infinite 5s;
    animation: bubbleMover2 linear infinite 5s;
}

.pfAni3 {
    -webkit-animation: bubbleMover3 linear infinite 5s;
    -moz-animation: bubbleMover3 linear infinite 5s;
    -o-animation: bubbleMover3 linear infinite 5s;
    animation: bubbleMover3 linear infinite 5s;
}

@keyframes scalc {
    0% {
        -webkit-transform: scale(2.05,2.05);
        -o-transform: scale(2.05,2.05);
        -moz-transform: scale(2.05,2.05);
        -ms-transform: scale(2.05,2.05);
        transform: scale(2.05,2.05);
    }

    100% {
        -webkit-transform: none;
        -o-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.sclani {
    animation: scalc 7s forwards;
    animation-timing-function: ease-out;
}

@keyframes scalc2 {
    0% {
        transform: scale(1.2,1.2);
    }

    100% {
        -webkit-transform: none;
        -o-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.sclani2 {
    animation: scalc2 7s forwards;
    animation-timing-function: ease-out;
}

@keyframes clipAni {
    0% {
        clip: rect(auto,0,auto,auto);
    }

    100% {
        clip: rect(auto,300px,auto,auto);
    }
}

.txtModel i {
    animation: clipAni ease-out infinite 2s alternate;
}

.swingAni {
    transform-origin: top center;
    animation: swing 3s infinite ease-in-out;
}

@keyframes swing {
    0% {
        transform: rotate(-6deg);
    }

    50% {
        transform: rotate(6deg);
    }

    100% {
        transform: rotate(-6deg);
    }
}

.swingAni2 {
    -webkit-animation-name: routate;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-name: routate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes routate {
    0% {
        -webkit-transform: rotate(7deg);
        -ms-transform: rotate(7deg);
        transform: rotate(7deg);
    }

    50% {
        -webkit-transform: rotate(-7deg);
        -ms-transform: rotate(-7deg);
        transform: rotate(-7deg);
    }

    100% {
        -webkit-transform: rotate(7deg);
        -ms-transform: rotate(7deg);
        transform: rotate(7deg);
    }
}

.bouncing-ball {
    -webkit-mask: radial-gradient(ellipse at center,rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,black 20.1%,black 75%,black 100%);
    mask: radial-gradient(ellipse at center,rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,black 20.1%,black 75%,black 100%);
    -webkit-animation: bouncing-ball 1.5s linear infinite;
    animation: bouncing-ball 1.5s linear infinite;
}

@keyframes bouncing-ball {
    0% {
        transform: scale(1,1) translateY(-80%);
    }

    25% {
        transform: scale(1,1.1) translateY(-45%);
    }

    50% {
        transform: scale(1,1.5) translateY(10%);
    }

    66% {
        transform: scale(2,0.75) translateY(25%);
    }

    75% {
        transform: scale(1,1.25) translateY(10%);
    }

    100% {
        transform: scale(1,1) translateY(-80%);
    }
}

.small_Big {
    -webkit-animation: scaleCircles 2s infinite cubic-bezier(0.55,0.15,0.45,0.85) alternate;
    animation: scaleCircles 2s infinite cubic-bezier(0.55,0.15,0.45,0.85) alternate;
}

@keyframes scaleCircles {
    0% {
        z-index: 1;
        transform: scale3d(.8,.8,.8);
    }

    100% {
        z-index: 2;
        transform: scale3d(1,1,1);
    }
}

.index * {
    opacity: 1;
}

.index {
    overflow: hidden;
}

.head {
    position: fixed;
    left: 0;
    top: calc(0/1920*100vw);
    z-index: 55555;
    width: 100%;
}

.wrap {
    padding: calc(0/1920*100vw) calc(212/1920*100vw);
}

.wrap:after {
    content: "";
    display: table;
    clear: both;
}

.head .wrap {
}

.head .logo {
    padding-top: calc(33/1920*100vw);
    padding-left: calc(41/1920*100vw);
    padding-bottom: calc(42/1920*100vw);
}

.head .logo a {
}

.head .logo a img {
    height: calc(66/1920*100vw);
}

.head .nav {
    background: #FFFFFF;
    border-radius: calc(39/1920*100vw);
    border: calc(4/1920*100vw) solid #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.head .nav ul {
    display: flex;
}

.head .nav ul li {
}

.head .nav ul li .h2tit {
}

.head .nav ul li .h2tit a {
    font-family: Comic Sans MS;
    font-weight: 400;
    font-size: calc(24/1920*100vw);
    color: #000000;
    display: block;
    line-height: calc(78/1920*100vw);
    padding: calc(0/1920*100vw) calc(50/1920*100vw);
    white-space: nowrap;
    text-transform: uppercase;
}

.section1 {
    position: relative;
    height: calc(949/1920*100vw);
    overflow: hidden;
}

.section1 .img1 {
}

.section1 .img1 img.ani1 {
    display: block;
    margin: auto;
    width: calc(1550/1920*100vw);
}

.section1 .img2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.section1 .img2 img.ani2 {
    width: calc(540/1920*100vw);
}

.section1 .img3 {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: calc(70/1920*100vw);
}

.section1 .img3 img.ani3 {
    height: calc(289/1920*100vw);
}

.section1 .img4 {
    right: calc(330/1920*100vw);
    top: calc(224/1920*100vw);
    position: absolute;
}

.section1 .img4 img.ani4 {
    width: calc(298/1920*100vw);
}

.section2 {
    position: relative;
    border-top: calc(7/1920*100vw) solid #000000;
    background: #4c8bc9;
}

.section2 .wrap {
}

.section2 .title {
    text-align: center;
    padding-top: calc(73/1920*100vw);
    padding-bottom: calc(23/1920*100vw);
}

.section2 .title img {
    height: calc(189/1920*100vw);
}

.section2 .hands {
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(-587/1920*100vw);
}

.section2 .hands img.left {
    float: left;
    margin-left: calc(107/1920*100vw);
    height: calc(793/1920*100vw);
}

.section2 .hands img.right {
    height: calc(793/1920*100vw);
    float: right;
    margin-right: calc(70/1920*100vw);
}

.section2 .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section2 .content .left {
    width: calc(940/1920*100vw);
}

.section2 .content .left .dec {
    font-family: Comic Sans MS;
    font-weight: 400;
    font-size: calc(36/1920*100vw);
    color: #000000;
}

.section2 .content .left .dec p:last-child {
    padding: calc(0/1920*100vw);
}

.section2 .content .left .dec p {
    line-height: 1.5;
    padding-bottom: calc(40/1920*100vw);
}

.section2 .content .left .loadings {
    position: relative;
    display: block !important;
}
.section2 .content .left  audio{
    margin-top: 4%;
    width:100%;
    display: block !important;
}
.section2 .content .left .loadings .line {
    height: calc(19/1920*100vw);
    position: relative;
    margin-top: calc(57/1920*100vw);
}

.section2 .content .left .loadings .line i.i1 {
    position: absolute;
    left: 0;
    top: calc(0/1920*100vw);
    width: calc(36/1920*100vw);
    height: calc(36/1920*100vw);
    background: url(../images/bofang.png) no-repeat center center;
    background-size: 100%;
    cursor: pointer;
    top: calc(-46/1920*100vw);
}

.section2 .content .left .loadings .line i.i2 {
    background: #3A933C;
    border-right: calc(2/1920*100vw) solid #000000;
    position: absolute;
    height: 100%;
    width: calc(15/1920*100vw);
    left: 0;
    top: calc(0/1920*100vw);
}

.section2 .content .left .loadings .num {
    font-family: Comic Sans MS;
    font-weight: 400;
    font-size: calc(30/1920*100vw);
    color: #000000;
    padding-top: calc(20/1920*100vw);
}

.section2 .content .playMusic {
    width: calc(476/1920*100vw);
    height: calc(383/1920*100vw);
    background: url(../images/play.png) no-repeat center center;
    background-size: 100%;
    position: relative;
    margin-left: calc(131/1920*100vw);
}

.section2 .content .playMusic audio{
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;

}
.section2 .content .playMusic img.ani {
    position: absolute;
    left: calc(-24/1920*100vw);
    top: calc(-37/1920*100vw);
    width: calc(163/1920*100vw);
}

.section2 .content .playMusic .play {
}

.section2 .content .playMusic .play > .center {
    position: absolute;
    top: 52%;
    left: 39%;
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.section2 .content .playMusic .play .center img.center {
    width: calc(206/1920*100vw);
}

.section3 {
    padding-top: calc(52/1920*100vw);
    background: #4c8bc9;
    margin-top: calc(-2/1920*100vw);
    padding-bottom: calc(74/1920*100vw);
}

.section3 .wrap {
}

.section3 .title {
    text-align: center;
    padding-bottom: calc(50/1920*100vw);
}

.section3 .title img {
    height: calc(98/1920*100vw);
}

.section3 .play {
}

.section3 .play video {
    display: block;
    width: 100%;
}

.section4 {
    /* background:#4c8bc9;*/
    text-align: center;
    padding-top: calc(58/1920*100vw);
}

.section4 .title img {
    height: calc(166/1920*100vw);
}

.section4 .title {
    position: relative;
    z-index: 4;
}

.section4 .content {
    position: relative;
    margin-top: calc(-140/1920*100vw);
}

.section4 .content .img1 {
    position: relative;
    z-index: 2;
}

.section4 .content .img1 img.ani1 {
    width: calc(1277/1920*100vw);
}

.section4 .content .img2 {
    position: absolute;
    right: calc(190/1920*100vw);
    top: calc(321/1920*100vw);
    z-index: 3;
}

.section4 .content .img2 img.ani2 {
    width: calc(352/1920*100vw);
}

.section4 .content .img3 {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: calc(411/1920*100vw);
    z-index: 4;
}

.section4 .content .img3 img.ani3 {
    height: calc(347/1920*100vw);
}

.section4 .content .img4 {
    margin-top: calc(-155/1920*100vw);
    z-index: 6;
    position: relative;
}

.section4 .content .img4 img.ani4 {
    width: 100%;
}

.section4 .content .items {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    top: calc(820/1920*100vw);
    display: flex;
    justify-content: space-around;
    padding: 0px calc(164/1920*100vw);
}

.section4 .content .items .item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #4C8BC9;
    border: calc(10/1920*100vw) solid #000000;
    z-index: 4;
}

.section4 .content .items .item {
    width: calc(491/1920*100vw);
    height: calc(307/1920*100vw);
    /* background:#4C8BC9;*/
    /* border:10px solid #000000;*/
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section4 .content .items .item:after {
    width: calc(18/1920*100vw);
    height: calc(264/1920*100vw);
    background: #4C8BC9;
    border: calc(5/1920*100vw) solid #000000;
    content: '';
    position: absolute;
    left: calc(234/1920*100vw);
    top: calc(-277/1920*100vw);
}

.section4 .content .items .item:nth-child(1):after {
    transform: rotate(55deg);
    transform-origin: left bottom;
    top: calc(-460/1920*100vw);
    height: calc(454/1920*100vw);
}

.section4 .content .items .item:nth-child(3):after {
    transform: rotate(-55deg);
    transform-origin: right bottom;
    top: calc(-460/1920*100vw);
    height: calc(454/1920*100vw);
}

.section4 .content .items .item .num {
    font-family: Comic Sans MS;
    font-weight: 400;
    font-size: calc(81/1920*100vw);
    color: #FFFFFF;
    text-stroke: calc(5/1920*100vw) #000000;
    -webkit-text-stroke: calc(5/1920*100vw) #000000;
    position: relative;
    z-index: 4;
}

.section4 .content .items .item .tit {
    font-family: Comic Sans MS;
    font-weight: 400;
    font-size: calc(48/1920*100vw);
    color: #FFFFFF;
    text-stroke: calc(5/1920*100vw) #000000;
    -webkit-text-stroke: calc(3/1920*100vw) #000000;
    padding-top: calc(34/1920*100vw);
    position: relative;
    z-index: 4;
}

.section5:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: calc(100% - calc(300/1920*100vw));
    background: #3d9740;
}

.section5 {
    position: relative;
    /* z-index:56;*/
    margin-top: calc(-567/1920*100vw);
    padding-bottom: calc(132/1920*100vw);
}

.section5 .wrap {
    position: relative;
    z-index: 444;
    padding: 0px calc(113/1920*100vw);
}

.section5 .title {
    text-align: center;
    padding-top: calc(207/1920*100vw);
    position: relative;
    padding-bottom: calc(220/1920*100vw);
}

.section5 .title img {
    height: calc(173/1920*100vw);
}

.section5 .items {
    zoom:1;overflow: hidden;
}

.section5 .items .item {
    width: calc(820/1920*100vw);
    height: calc(436/1920*100vw);
    background: #fff;
    border-radius: calc(70/1920*100vw);
    border: calc(5/1920*100vw) solid #000000;
    float: left;
    margin-bottom: calc(54/1920*100vw);
    position: relative;
    padding-left: calc(290/1920*100vw);
    text-align: center;
    /* height:100%;*/
}

.section5 .items .item:nth-child(2n) {
    float: right;
}

.section5 .items .item .icon {
    width: calc(290/1920*100vw);
    position: absolute;
    left: 0;
    top: 0px;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section5 .items .item .icon img {
    max-width: 74%;
    margin: auto;
}

.section5 .items .item .ris {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: calc(41/1920*100vw);
}

.section5 .items .item .ris .tit {
    font-family: Comic Sans MS;
    font-weight: bold;
    font-size: calc(60/1920*100vw);
    color: #000000;
    text-align: left;
}

.section5 .items .item .ris .dec {
    font-family: Comic Sans MS;
    font-weight: 400;
    font-size: calc(30/1920*100vw);
    color: #5C5C5C;
    line-height: calc(38/1920*100vw);
    margin-top: calc(45/1920*100vw);
    text-align: left;
}

.section5 .content {
    margin-top: calc(150/1920*100vw);
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: calc(82/1920*100vw);
    border: calc(5/1920*100vw) solid #000000;
    padding-left: calc(643/1920*100vw);
}

.section5 .content .left {
    width: calc(721/1920*100vw);
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0px;
}

.section5 .content .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section5 .content .right {
    padding-left: calc(91/1920*100vw);
    padding-right: calc(76/1920*100vw);
    padding-top: calc(76/1920*100vw);
    border-radius: calc(82/1920*100vw);
    border: calc(5/1920*100vw) solid #000000;
    position: relative;
    z-index: 3;
    background: #fff;
}

.section5 .content .right .tit {
    font-family: SugarpunchDEMO;
    font-weight: 400;
    font-size: calc(54/1920*100vw);
    color: #000000;
}

.section5 .content .right .tit img {
    height: calc(60/1920*100vw);
}

.section5 .content .right .dec {
    font-family: Comic Sans MS;
    font-weight: 400;
    font-size: calc(36/1920*100vw);
    color: #000000;
    padding-top: calc(50/1920*100vw);
    padding-bottom: calc(72/1920*100vw);
}

.section5 .content .right .dec p {
    line-height: 1.5;
    padding-bottom: calc(30/1920*100vw);
}

.section6 {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(133/1920*100vw);
    border-top: calc(7/1920*100vw) solid #000;
}

.section6 .bg {
}

.section6 .bg img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0px;
    height: 100%;
    object-fit: cover;
}

.section6 .wrap {
    position: relative;
    z-index: 4;
    padding: 0px calc(180/1920*100vw);
}

.section6 .title {
    text-align: center;
    padding-top: calc(77/1920*100vw);
    padding-bottom: calc(113/1920*100vw);
}

.section6 .title img {
    height: calc(168/1920*100vw);
}

.section6 .lisa {
    position: relative;
}

.section6 .lisa:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: calc(9/1920*100vw);
    height: 100%;
    background: #000;
}

.section6 .lisa:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -o-transform: translate(-50%,0%);
    -webkit-transform: translate(-50%,0%);
    -moz-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    width: calc(55/1920*100vw);
    height: calc(55/1920*100vw);
    background: #FFFFFF;
    border-radius: 50%;
    border: calc(5/1920*100vw) solid #000000;
    z-index: 3;
}

.section6 .list {
    position: relative;
    padding-top: calc(48/1920*100vw);
}

.section6 .list .item:nth-child(2n) {
    float: right;
    margin-top: calc(250/1920*100vw);
}

.section6 .list .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
    margin-bottom: calc(36/1920*100vw);
}

.section6 .list .item:nth-child(3) {
    margin-top: calc(251/1920*100vw);
}

.section6 .list .item:nth-child(4) {
    margin-top: calc(275/1920*100vw);
}

.section6 .list .item .icon {
    width: calc(239/1920*100vw);
    height: calc(239/1920*100vw);
    background: #FFFFFF;
    border-radius: calc(31/1920*100vw);
    border: calc(4/1920*100vw) solid #000000;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}

.section6 .list .item .icon img {
    max-width: 90%;
    margin: auto;
}

.section6 .list .item .ris {
    margin-left: calc(41/1920*100vw);
    width: calc(405/1920*100vw);
}

.section6 .list .item .ris .time {
    font-family: Comic Sans MS;
    font-weight: 400;
    font-size: calc(16/1920*100vw);
    color: #FFFFFF;
    padding-bottom: calc(28/1920*100vw);
}

.section6 .list .item .ris .tit {
    font-family: Comic Sans MS;
    font-weight: bold;
    font-size: calc(24/1920*100vw);
    color: #000000;
    padding-bottom: calc(10/1920*100vw);
    border-bottom: calc(1/1920*100vw) solid #000;
}

.section6 .list:after {
    content: "";
    display: table;
    clear: both;
}

.section6 .list .item .ris .dec {
    font-family: Comic Sans MS;
    font-weight: 400;
    font-size: calc(24/1920*100vw);
    color: #FFFFFF;
    padding-top: calc(17/1920*100vw);
    line-height: 1.3;
}

.section7:after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50%;
    background: #434343;
}

.section7 {
    position: relative;
    border-bottom: calc(4/1920*100vw) solid #000000;
}

.section7 .wrap {
    padding: 0px calc(170/1920*100vw);
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    z-index: 3;
}

.section7 .left {
}

.section7 .left img {
    width: calc(540/1920*100vw);
}

.section7 .right {
    padding-top: calc(160/1920*100vw);
    padding-left: calc(80/1920*100vw);
    padding-bottom: calc(130/1920*100vw);
}

.section7 .right .title {
}

.section7 .right .title img {
    height: calc(166/1920*100vw);
}

.section7 .right .formtable {
    width: calc(757/1920*100vw);
    height: calc(84/1920*100vw);
    background: #FFFFFF;
    border: calc(4/1920*100vw) solid #000000;
    margin-top: calc(186/1920*100vw);
    position: relative;
    overflow: hidden;
}

.section7 .right .formtable .words {
    font-family: Comic Sans MS;
    font-weight: 400;
    font-size: calc(20/1920*100vw);
    color: #000000;
    width: 100%;
    height: 100%;
    border: none;
    background: url(../images/youxiang.png) no-repeat calc(16/1920*100vw) center;
    background-size: calc(56/1920*100vw);
    padding-left: calc(106/1920*100vw);
    padding-right: calc(130/1920*100vw);
}

.section7 .right .formtable .send {
    position: absolute;
    right: 0;
    top: 0px;
    height: 100%;
    width: calc(117/1920*100vw);
    height: calc(84/1920*100vw);
    border: none;
    background: #FF7B41;
    border-left: calc(4/1920*100vw) solid #000000;
    font-family: Comic Sans MS;
    font-weight: 400;
    font-size: calc(30/1920*100vw);
    color: #000000;
    padding-bottom: calc(10/1920*100vw);
    text-transform: uppercase;
}

.section7 .right .link {
    padding-top: calc(45/1920*100vw);
    font-size: 0;
}

.section7 .right .link a {
    position: relative;
    display: inline-block;
    width: calc(91/1920*100vw);
    height: calc(91/1920*100vw);
    border-radius: calc(14/1920*100vw);
    border: calc(4/1920*100vw) solid #000000;
    margin-right: calc(21/1920*100vw);
}

.section7 .right .link a:nth-child(1) {
    background: #202020;
}

.section7 .right .link a:nth-child(2) {
    background: #4C8BC9;
}

.section7 .right .link a:nth-child(3) {
    background: #FF0084;
}

.section7 .right .link a img {
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: calc(80/1920*100vw);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    font-size: calc(18/1920*100vw);
    color: #000000;
    padding: calc(15/1920*100vw) calc(30/1920*100vw);
}

.footer .left {
}

.footer .left img {
    height: calc(38/1920*100vw);
}

.footer .right {
}


.index,.index *,
.head,.head *{

-webkit-transition:all 0.4s;
-o-transition:all 0.4s;
-moz-transition:all 0.4s;
-ms-transition:all 0.4s;
transition:all 0.4s;

}
.section7 .right .link a:hover{
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
}

